{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}

{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">

                {% element h1 %}
                    {% trans "Password Reset" %}
                {% endelement %}
    
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>
                    {% trans "<strong>Forgotten your password?</strong><br>Enter your email address below, and we'll send you an email allowing you to reset it." %}
                </p>

                {% url 'account_reset_password' as reset_url %}

                <div class="formDisplay">
                    {% element form form=form method="post" action=reset_url %}
                        {% slot body %}
                            {% csrf_token %}
                            {% element fields form=form %}
                            {% endelement %}
                        {% endslot %}
                        {% slot actions %}
                            {% element button type="submit" %}
                                {% trans 'Reset My Password' %}
                            {% endelement %}
                        {% endslot %}
                    {% endelement %}
                </div>
    
            </div>
        </div>
    </div>
{% endblock content %}
