{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Account</h1>
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}!</p>
                
                <!-- Allauth account management links for logged-in users -->
                <ul>
                    
            <li>
                <a href="{% url 'account_update' %}">
                    Update Account
                </a>
            </li>
            <li>
                <a href="{% url 'account_orders' %}">
                    My Orders
                </a>
            </li>
            <li>
                <a href="{% url 'account_delete' %}">
                    Delete Account
                </a>
            </li>
            
                    <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                    <li><a href="{% url 'account_set_password' %}">Set Password</a></li>
                    <li><a href="{% url 'account_email' %}">Email Addresses</a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    <!-- Add more links as needed -->
                </ul>
                
            {% else %}
                <p>Please log in to access your account management options.</p>
                <!-- Your content for non-logged-in users goes here -->

            {% endif %}

        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    console.log('test');
</script>
{% endblock postloadjs %}