{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            
            <small>
                <a href="{% url 'account_index' %}">
                    Account
                </a>
            </small>

            <h1>
                My Orders
            </h1>

 {% if user.is_authenticated %}
                <ul>
                    <li>
                        <hr>
                    </li>
                    {% if orders %}
                    {% for order in orders %}
                        <li>
                            <a href="{% url 'account_order_detail' order.oid %}">
                                Order No. {{ order.oid }}
                                <br>
                                <sup>{{ order.created_at }}</sup>
                            </a>
                        </li>
                        <li>
                            <hr>
                        </li>
                    {% endfor %}
                    {% else %}
                        <p class="bg-light p-3 rounded text-center">
                            No orders available.
                        </p>
                    {% endif %}
                </ul>
            {% else %}
            <p class="bg-light p-3 rounded text-center">
                You need to be logged in to view this page.
            </p>
            {% endif %}


        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    console.log('test');
</script>
{% endblock postloadjs %}