{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">

            <small>
                <a href="{% url 'account_orders' %}">
                    My Orders
                </a>
            </small>
            </div>

            
<div class="col-12">
{% if user.is_authenticated and not user.is_staff %}


<div class="container">
    <div class="row">

        <div class="col-12 py-3">
            <h1>Order No.: {{ order.oid }}</h1>
        </div>

        <div class="col-6">
            <p>
                Order Date
                <br>
                <strong>{{ order.created_at }}</strong>
            </p>
            <p>
                <strong>Delivery Details:</strong>
                <br>
                <div id="odaStr">
                    {{ order.oda }}
                </div>
            </p>
        </div>
        <div class="col-6 text-end">
            <p>
                <small>Payment Status</small>
                <br>
                <strong>{{ order.paid }}</strong>
            </p>
            <p>
                <small>Order Status:</small>
                <br>
                <strong>{{ order.status }}</strong>
            </p>
        </div>

        <div class="col-12 py-3">
        </div>
    </div>
</div>
       

<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>Purchased Items:</h5>
            <hr>
            <ul>
                {% for basket_line in basket_lines %}
                <li>
                    <div class="row">
                        <div class="col-9">
                            <strong>{{ basket_line.product }}</strong>
                            <br>
                            <small>(Unit Price: <strong>&euro; {{ basket_line.price }}</strong> * Quantity: <strong>{{ basket_line.qty }}</strong>)</small>
                        </div>
                        <div class="col-3 text-end">
                            &euro; {{ basket_line.total_cost }}
                        </div>
                    </div></li>
                <li><hr></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-end">
            <h6>Total: {{ order.total_amount }}</h6>
        </div>
    </div>
</div>

{% else %}
<!-- Display a message when no products are found -->
<p class="bg-light p-3 rounded text-center">
    You need to be logged in to view this page.
</p>
{% endif %}
            

        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}

<script>
    $(document).ready(function() {
      // Get the original string
      var odaStr = $("#odaStr").text();

      // Function to insert <br> tag before specified substring
      function odaLineBreak(substring) {
        var index = odaStr.indexOf(substring);
        if (index !== -1) {
          odaStr = odaStr.slice(0, index) + "<br>" + odaStr.slice(index);
        }
      }

      // Insert <br> tags before specified substrings
      odaLineBreak("Phone:");
      odaLineBreak("Address:");
      odaLineBreak("Postal Code:");
      odaLineBreak("Country:");

      // Update the HTML with the reformatted string
      $("#odaStr").html(odaStr);
    });
  </script>
{% endblock postloadjs %}