
<div class="container">
    <div class="row">
        
        {% if product_items %}
        <div class="col-6 text-start my-auto">
            <small>
                {{ product_count }} Products found.
            </small>
        </div>
        <div class="col-6 text-end my-auto">
            <div class="dropdown">
                <button class="btn btn-sm  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Order by
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="?order_by=asc">Price (Asc)</a></li>
                    <li><a class="dropdown-item" href="?order_by=desc">Price (Desc)</a></li>
                </ul>
              </div>
        </div>
        <div class="col-12">
            <hr>
        </div>
        
        <!-- Display products here -->
        {% for product in product_items %}
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mb-4 product_card">
                <a href="{% url 'product_detail' sku=product.sku %}">
                    <div class="card d-flex flex-column shadow-sm border-0" style="height: 100%;">
                        {% if product.image_url %}
                            <img src="{{ product.image_url }}" alt="{{ product.images.0.description }}">
                        {% else %}
                            <img src="https://bmie23a.s3.eu-west-1.amazonaws.com/placeholders/product_image.jpg" alt="no image">
                        {% endif %}
                        <div class="card-body">
                            <small class="card-text">
                                <sub class="sku">
                                    {{ product.sku }}
                                </sub>
                                <br>
                                <strong>
                                    {% if product.name %}
                                        {{ product.name }}
                                    {% else %}
                                        No Name Available
                                    {% endif %}
                                </strong>
                            </small>
                        </div>
                        <div class="card-footer bg-white border-0">
                            &euro; {{ product.price }}
                        </div>
                      
                    </div>
                </a>
            </div>
        {% endfor %}
        {% else %}
        <!-- Display a message when no products are found -->
        <p>No products found for this collection.</p>
        {% endif %}

        
    </div>
</div>