body {
  margin: 0;
  background-color: #333;
  font-size: 14px;
  box-sizing: border-box;
}
body a {
  text-decoration: none;
}
body img {
  max-width: 100%;
  transition: all 0.2s ease-in-out;
}
body .card img {
  transform: scale(0.9);
}
body .card img:hover {
  transform: scale(1);
}
body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 700;
}
body h1 {
  padding: 0.25em 0;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 1px;
}

.btn {
  border: none !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

header#hdr {
  display: block;
  height: 64px;
  padding: 0 8px;
  background: rgb(255, 7, 37);
}
header#hdr .btn {
  display: inline-block;
  height: 64px;
  line-height: 64px;
  padding: 0 8px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
header#hdr .btn img {
  float: left;
  margin: 16px 0;
}
header#hdr .btn svg {
  width: auto;
  height: 32px;
}

.main-navigation .offcanvas-header {
  height: 64px;
  background-color: rgb(255, 7, 37);
  color: rgb(255, 255, 255);
}
.main-navigation .offcanvas-header .btn-close {
  color: rgb(255, 255, 255);
}
.main-navigation .offcanvas-body {
  background-color: rgb(30, 36, 48);
  color: rgb(255, 255, 255);
}
.main-navigation .offcanvas-body a, .main-navigation .offcanvas-body button {
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.main-navigation .offcanvas-body a i, .main-navigation .offcanvas-body button i {
  margin-right: 8px;
}
.main-navigation .offcanvas-body a:hover, .main-navigation .offcanvas-body button:hover {
  opacity: 1;
}

.session-navigation .offcanvas-header {
  height: 64px;
  background-color: rgb(255, 7, 37);
  color: rgb(255, 255, 255);
}
.session-navigation .offcanvas-header .btn-close {
  color: rgb(255, 255, 255);
}
.session-navigation .offcanvas-body {
  background-color: rgb(30, 36, 48);
  color: rgb(255, 255, 255);
}
.session-navigation .offcanvas-body a, .session-navigation .offcanvas-body button {
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.session-navigation .offcanvas-body a i, .session-navigation .offcanvas-body button i {
  margin-right: 8px;
}
.session-navigation .offcanvas-body a:hover, .session-navigation .offcanvas-body button:hover {
  opacity: 1;
}

.logged_in_staff {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5D3FD3;
}

main {
  background-color: rgb(255, 255, 255);
  min-height: 90vh;
}
main a {
  color: rgb(255, 7, 37);
}

.errorlist {
  list-style: circle;
  color: rgb(255, 7, 37);
  font-size: 12px;
  margin: 16px;
}

#errorlist {
  font-size: 12px;
  color: red;
  line-height: 24px;
}
#errorlist ul {
  margin: 8px 0;
}

.basket_count {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(0%, 0%);
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  background-color: green;
  color: white;
  border-radius: 16px;
}

table.order {
  border-bottom: solid 2px #eee;
}
table.order thead tr th {
  padding: 8px 0;
  border-bottom: solid 2px #eee;
}
table.order tbody tr td {
  border-bottom: solid 1px #eee;
  padding: 8px;
}
table.order tbody tr:hover {
  background-color: #f8f8f8;
}

.delivery {
  border-radius: 8px;
  margin: 32px 0;
  border: solid 1px #eee;
}

.summary {
  border-radius: 8px;
  padding: 16px;
  background-color: rgb(255, 255, 255);
  border-top: solid 4px #eee;
}
.summary h6 {
  color: #666;
}

form label {
  font-size: 12px;
  display: block;
  width: 100%;
}
form input {
  display: block;
  width: 100%;
  padding: 8px;
}
form textarea {
  display: block;
  width: 100%;
  padding: 8px;
}

.card .card-body {
  padding: 0 16px;
}
.card .card-body .card-text .sku {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
}
.card .card-body .card-text .title {
  font-weight: 400;
  font-size: 0.9em;
  line-height: 125%;
}
.card .card-footer {
  color: rgb(255, 7, 37);
}
.card .card-footer .price {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
}

.edit_product {
  display: inline-block;
  background-color: #5D3FD3;
  color: rgb(255, 255, 255);
  font-size: 12px;
  width: auto;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 24px;
  padding: 0 8px;
  opacity: 0.9;
}
.edit_product:hover {
  opacity: 1;
}
.edit_product::before {
  content: "Edit";
  margin-right: 4px;
}

.add_to_basket {
  max-width: 512px;
}

.product_image {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
}
.product_image .delete_image {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
}

footer {
  font-size: 12px;
  line-height: 125%;
  border-top: solid 4px rgb(255, 7, 37);
  background-color: #333;
  color: rgb(255, 255, 255);
}
footer .social_icon a {
  opacity: 0.8;
  font-size: 2.5em;
  color: rgb(255, 255, 255);
}
footer .social_icon a:hover {
  opacity: 1;
}
footer hr {
  margin: 0;
}
footer .footer_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer_menu .footer_nav {
  width: 100%;
  margin: 0 auto;
  max-width: 480px;
}
footer .footer_menu a {
  color: rgb(255, 255, 255);
  opacity: 0.75;
  text-transform: uppercase;
  letter-spacing: 1px;
}
footer .footer_menu a:hover {
  opacity: 1;
}

/*  bootstrap toasts */
.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/*  bootstrap toasts *//*# sourceMappingURL=style.css.map */