{% extends 'base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-12 pb-5">    
            <small>All products</small>
        </div>

        <div class="col-12 pb-5">   
            <h1>All Products</h1>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">

            
            {% load menu_tags %}
            {% menu_items %}

        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">

            {% load product_tags %}
            {% if order_by %}
                {% product_items order_by=order_by %}
            {% else %}
                {% product_items %}
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    console.log('test');
</script>
{% endblock postloadjs %}