{% extends 'base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        
        <div class="col-12 pb-5"> 
            <h1>Basket</h1>
        </div>

        <div class="col-12">
            
            {% if basket_items %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8">
                        <table class="order" width="100%" cellpadding="0" cellspacing="0" style="font-size: 14px;">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th class="text-center px-1" style="width:94px;">Price</th>
                                    <th class="text-center px-1" style="width:16px;">QTY</th>
                                    <th class="text-center px-1" style="width:94px;">Price</th>
                                    <th class="text-center" style="width:32px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for basket_item in basket_items %}
                                <tr>
                                    {% if basket_item.product %}
                                        <td>
                                            <a href="/products/{{ basket_item.product.sku }}/">
                                                <strong>{{ basket_item.product.name }}</strong>
                                                <br>
                                                <sup>{{ basket_item.product.sku }}</sup>
                                            </a>
                                        </td>
                                        <td class="text-center px-1">&euro; {{ basket_item.product.price }}</td>
                                    {% endif %}
                                    <td class="text-center px-2">
                                        
            <button type="button" class="btn btn-sm text-primary" data-bs-toggle="modal" data-bs-target="#updateQuantityModal{{ basket_item.id }}">
                {{ basket_item.qty }}
              </button>
              <!-- Modal -->
              <div class="modal fade" id="updateQuantityModal{{ basket_item.id }}" tabindex="-1" aria-labelledby="updateQuantityModalLabel{{ basket_item.id }}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="updateQuantityModalLabel{{ basket_item.id }}">Update Quantity</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="post" action="{% url 'update_basket_item' basket_item.id %}">
                          {% csrf_token %}
                          <input type="number" name="qty" class="form-control" value="{{ basket_item.qty }}" min="1" max="{{ basket_item.product.stock }}">
                          <button type="submit" class="btn btn-primary mt-3">Update</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                                    </td>
                                    <td class="text-center px-1">&euro; {{ basket_item.line_price }}</td>
                                    <td class="text-start px-1">
                                        <form method="post" action="{% url 'delete_basket_item' basket_item.id %}">
                                            {% csrf_token %}
                                            <button class="btn btn-sm text-danger" type="submit" style="padding:0;font-size:14px;">
                                                <i class="fa-solid fa-circle-xmark"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="container-fluid delivery">
                            <div class="row">
                                <div class="col-12 p-3 bg-light">
                                    <p><strong>Delivery details:</strong></p>

{% if user_delivery_address %}
<p>
    {{ user_delivery_address.name }}
    <br>
    {{ user_delivery_address.phone }}
    <br>
    {{ user_delivery_address.street }}
    <br>
    {{ user_delivery_address.city }}, {{ user_delivery_address.state }}, {{ user_delivery_address.postal_code }}
    <br>
    {{ user_delivery_address.country }}
</p>
<div class="row">
    <div class="col-6 text-start">
        <button type="button" class="btn btn-sm text-primary p-0" data-bs-toggle="modal" data-bs-target="#myAddress">
            Edit address
        </button>
    </div>
    <div class="col-6 text-end">
        <form method="post" action="{% url 'shop_basket' %}">
            {% csrf_token %}
            <input type="hidden" name="delete_address" value="1">
            <button type="submit" class="btn btn-sm text-danger">
                <i class="fa-solid fa-trash"></i> Remove
            </button>
        </form>
    </div>
</div>

{% else %}
<p>No delivery address on file.</p>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myAddress">
    Enter address
</button>
{% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <div class="summary shadow">
                            <h4 class="text-center">Order summary:</h4>
                            <hr>
                            <div class="text-center">
                                <h6>
                                    Order Amount: <strong>&euro; {{ total_price|floatformat:2 }}</strong>
                                </h6>
                                <h6>
                                    Delivery Charge: <strong>Free</strong>
                                </h6>
                                <h5>
                                    Total: <strong>&euro; {{ total_price }}</strong>
                                </h5>
                            </div>
                            <div class="text-center">
                                <hr>
                                {% if user_delivery_address %}

                                    <button id="submitBtn" class="btn btn-success btn-block w-100">
                                        PLACE ORDER
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-light w-100" data-bs-toggle="modal" data-bs-target="#myAddress">
                                        PLACE ORDER
                                    </button>
                                {% endif %}
                                <hr>
                                <sup class="text-danger">VAT included (23%)</sup>
                            </div>
                        </div>
                    </div>
                </div>
                  
                {% else %}
                    <p class="bg-secondary-subtle p-3 rounded">Your basket is currently empty - <a href="{% url 'shop_index' %}">View products</a>.</p>
                {% endif %}
            </div>
            
        </div>
    </div>
</div>


<!-- Add this to your HTML file -->
<div class="modal fade" id="myAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delivery address</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'shop_basket' %}">
            {% csrf_token %}
            {{ order_address_form.as_p }}
            <button class="btn btn-secondary" type="submit">Save Address</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block postloadjs %}
{% endblock postloadjs %}