{% extends 'base.html' %}

{% block title %}Shop > Collection > {{ collection.name }}{% endblock %}
{% block meta_keywords %}
    {{ collection.name }}
{% endblock %}
{% block meta_desc %}
    {{ collection.name }} 
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-12 text-center">    
            <small>
                <a href="{% url 'shop_index' %}">All Products</a> &gt; <strong>{{ collection.name }}</strong>
            </small> 
            <h1>{{ collection.name }}</h1>
        </div>
        
        <div class="col-12">
            {% load product_tags %}
            {% product_items collection_slug=collection.slug order_by=request.GET.order_by %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    console.log('test');
</script>
{% endblock postloadjs %}