{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <small>
                <a href="{% url 'db_index' %}">
                    Dashboard
                </a>
            </small>
            <h1>Products</h1>

            <div class="row">
                <div class="col-6 my-auto">
                    <h2>Products</h2>
                </div>
                <div class="col-6 my-auto text-end">
                    <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        New Item <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
            
            
            
            <hr>

            <!-- List of products -->
            <table width="100%">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Name</th>
                        <th class="text-end">Price</th>
                        <!-- Add more columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td><a href="{% url 'db_product_edit' sku=product.sku %}">{{ product.sku }}</a></td>
                            <td>{{ product.name }} ({{ product.blocked }})</td>
                            <td class="text-end">&euro; {{ product.price }}</td>
                            <!-- Add more columns as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Create Product -->
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <hr>
                    <button type="submit">Create Product</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    console.log('test');
</script>
{% endblock postloadjs %}