{% if menu_items %}
<div class="dropdown">
  <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-filter"></i> Collection
  </button>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="{% url 'shop_index' %}"><strong>All products</strong></a>
    </li>
    {% for item in menu_items %}
    <li>
      <a class="dropdown-item" href="{% url 'shop_collection' item.slug %}">
        {{ item.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
{% endif %}