<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Collection
  </button>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="{% url 'shop_index' %}"><strong>All products</strong></a>
    </li>
    {% for item in menu_items %}
    <li>
      <a class="dropdown-item" href="{% url 'shop_collection' item.slug %}">
        {{ item.catname }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>